* {
  font-family: 'Merriweather', serif;;
}
.descriprion1__title {
  color: red;
}
.description2__paragraph1 {
  text-decoration-line: underline;
}
.description2__paragraph2 {
  font-style: italic;
}
.description2__paragraph3 {
  border-left: 2px solid grey;
  padding-left: 20px;
  }
h1 {
  font-family: 'Noto Sans', sans-serif;
}
